<footer class="footer">
  {{#each footerMenu}}
    <section class="{{sectionClasses}}">
      <p class="footer__submenu-heading">{{heading}}</p>
      <ul class="footer__submenu-list">
        {{#each items}}
          <li class="footer__submenu-item {{#if active}}active{{/if}}">
            <a href="{{link}}" {{#if dataRoute}}data-route="{{dataRoute}}"{{/if}}>
              {{label}}
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/each}}

  <div class="footer__content">
    <div class="footer__contact">
      <p class="footer__contact-item">
        <a href="/contact" data-route="/contact" class="footer__link">Kontakta oss</a>
      </p>
      <p class="footer__contact-item">
        Telefon: <a href="tel:+18-XXXXX" class="footer__link">018-XXXXX</a>
      </p>
      <p class="footer__contact-item">Adress: XXXXX, Uppsala</p>
    </div>
    <div class="footer__social-media">
      <p class="footer__social-text">Följ oss:</p>
      <a class="footer__social-icon" href="#" aria-label="Follow us on Instagram">
        <img src="/src/pics/instagram-brands-solid-full.svg" alt="Instagram Icon" class="footer__social-icon-img"
          width="40" height="40" />
      </a>
      <a class="footer__social-icon" href="#" aria-label="Follow us on Twitter">
        <img src="/src/pics/x-twitter-brands-solid-full.svg" alt="Twitter Icon" class="footer__social-icon-img"
          width="40" height="40" />
      </a>
    </div>
  </div>
</footer>