<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{description}}">

<!-- Open Graph -->
<meta property="og:title" content="{{og.title}}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Kino">
<meta property="og:description" content="{{og.description}}">
<meta property="og:locale" content="{{og.locale}}">
<meta property="og:url" content="{{og.url}}">
<meta property="og:image" content="{{og.image}}">
<meta property="og:image:alt" content="{{og.imageAlt}}">

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/src/styles/main.css">
<script type="module" src="/src/scripts/main.js"></script>